SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_RTC_SERVICE_URL=ws://localhost:5001/ws
PORT_WEB=80
PORT_SERVER=3000
PORT_CENTRAL_SERVICE=5050
PORT_RTC_SERVICE=5001
PORT_KAFKA=29092
PORT_ADMINER=8080
PORT_REDIS_INSIGHT=8001
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
LEETCODE_USERNAME=
LEETCODE_PASSWORD=
MAX_NUM_ROUND_PER_ROOM=
REDIS_PASSWORD=
KAFKA_BROKER=
WORKER_ID=
KAFKA_EGRESS_TOPIC=
KAFKA_INGRESS_TOPIC=
KAFKA_CENTRAL_SERVICE_GID=
SERVER_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=