@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;

    --foreground: 255, 255, 255;

    --card: 255 255 255;
    --card-foreground: 10 15 29;

    --popover: 255 255 255;
    --popover-foreground: 10 15 29;

    --primary: 114 171 28;
    --primary-foreground: 255 255 255;


    --secondary: 244 245 247;
    --secondary-foreground: 17 24 39;

    --muted: 244 245 247;
    --muted-foreground: 107 114 128;

    --accent: 244 245 247;
    --accent-foreground: 17 24 39;

    --destructive: 239 68 68;
    --destructive-foreground: 248 250 252;

    --border: 232 234 237;
    --input: 232 234 237;

    --inputBackground: 56 56 56;
    --ring: 255 255 255;

    --brand: 173 173 173;

    --radius: 0.5rem;

    --background: 38 38 38;
  }

  .light {

  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar-x::-webkit-scrollbar:horizontal {
    display: none;
  }
  .no-scrollbar-x {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar-y::-webkit-scrollbar:vertical {
    display: none;
  }
  .no-scrollbar-y {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}